In [2]:
# imports
import os
import pandas as pd

from datetime import datetime, timedelta
from s3.s3 import bucket
from dotenv import load_dotenv
from database.db import database

load_dotenv(".env")

True

In [3]:
# load csv
orders_df = pd.read_csv("downloads/orders.csv")
reviews_df = pd.read_csv("downloads/reviews.csv")
shipments_df = pd.read_csv("downloads/shipment_deliveries.csv")

# View CSV Files

In [15]:
orders_df.head(20)

,order_id,customer_id,order_date,product_id,unit_price,quantity,total_price
0,1,5,2022-07-13,24,139,10,1390
1,2,14,2021-04-06,2,273,4,1092
2,3,17,2022-07-29,20,253,9,2277
3,4,14,2022-08-27,8,334,1,334
4,5,25,2021-12-15,6,334,3,1002
5,6,7,2021-04-15,25,144,7,1008
6,7,4,2021-09-28,12,876,1,876
7,8,24,2021-05-08,15,994,7,6958
8,9,3,2022-01-06,18,641,4,2564
9,10,23,2021-08-22,3,841,5,4205
10,11,3,2022-01-25,8,334,8,2672
11,12,21,2022-01-15,12,413,4,1652
12,13,22,2021-06-25,9,596,4,2384
13,14,6,2021-10-04,15,997,9,8973
14,15,8,2021-02-27,22,284,1,284
15,16,11,2021-03-09,13,266,10,2660
16,17,23,2022-05-27,11,455,8,3640
17,18,5,2021-09-10,9,812,9,7308
18,19,18,2022-03-15,9,969,10,9690
19,20,13,2021-05-22,12,571,8,4568

In [16]:
reviews_df.head(20)

    review  product_id
0        1          21
1        3           1
2        2           8
3        1           5
4        5          22
5        5           3
6        1          14
7        1           1
8        2           7
9        5          17
10       5           1
11       5           7
12       2          14
13       5          15
14       1           9
15       2          25
16       4          23
17       3          11
18       2           5
19       3          25

In [17]:
shipments_df.head(20)

    shipment_id  order_id shipment_date delivery_date
0             1         1    2022-07-14           NaN
1             2         2           NaN           NaN
2             3         3    2022-07-31    2022-08-03
3             4         4    2022-09-02    2022-09-05
4             5         5    2021-12-19    2021-12-20
5             6         6    2021-04-17    2021-04-18
6             7         7           NaN           NaN
7             8         8    2021-05-10    2021-05-13
8             9         9           NaN           NaN
9            10        10           NaN           NaN
10           11        11           NaN           NaN
11           12        12           NaN           NaN
12           13        13    2021-07-01    2021-07-03
13           14        14           NaN           NaN
14           15        15    2021-03-02    2021-03-03
15           16        16           NaN           NaN
16           17        17           NaN           NaN
17           18        18           NaN           NaN
18           19        19           NaN           NaN
19           20        20           NaN           NaN

In [110]:
# Connect to database
db = database()
db_conn = db.conn()
db_cursor = db.create_cursor(db_conn)
staging = os.getenv("STAGING")
analytics = os.getenv("ANALYTICS")

# # Make Query
# data = db.fetch_data(db_cursor,"*",f"{staging}.orders",secondary_tablename="if_common.dim_dates",all=True,filtered=True,filter="if_common.dim_dates.working_day = False AND 1 <= if_common.dim_dates.day_of_the_week_num AND 5 >= if_common.dim_dates.day_of_the_week_num",join=True,join_condition=f"if_common.dim_dates.calendar_dt = {staging}.orders.order_date")
# data

In [29]:
data_columns = ["db_id"] + list(orders_df.columns) + ["calendar_dt","year_num","month_of_the_year_num","day_of_the_month_num","day_of_the_week_num","working_day"]
data_columns

['db_id',
 'order_id',
 'customer_id',
 'order_date',
 'product_id',
 'unit_price',
 'quantity',
 'total_price',
 'calendar_dt',
 'year_num',
 'month_of_the_year_num',
 'day_of_the_month_num',
 'day_of_the_week_num',
 'working_day']

In [79]:
data_df = pd.DataFrame(data,columns=data_columns)
data_df

,db_id,order_id,customer_id,order_date,product_id,unit_price,quantity,total_price,calendar_dt,year_num,month_of_the_year_num,day_of_the_month_num,day_of_the_week_num,working_day
0,24,24,22,2022-07-04,24,818,5,4090,2022-07-04,2022,7,4,1,False
1,68,68,21,2022-03-29,9,614,7,4298,2022-03-29,2022,3,29,2,False
2,75,75,14,2021-10-01,22,213,2,426,2021-10-01,2021,10,1,5,False
3,79,79,12,2022-02-14,21,745,9,6705,2022-02-14,2022,2,14,1,False
4,89,89,10,2021-01-01,13,361,5,1805,2021-01-01,2021,1,1,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,9812,9809,8,2021-03-29,12,391,3,1173,2021-03-29,2021,3,29,1,False
170,9821,9818,22,2021-04-01,19,447,7,3129,2021-04-01,2021,4,1,4,False
171,9826,9823,5,2021-11-11,8,549,8,4392,2021-11-11,2021,11,11,4,False
172,9886,9883,1,2021-01-01,23,50,6,300,2021-01-01,2021,1,1,5,False
173,9899,9896,20,2021-04-01,11,104,10,1040,2021-04-01,2021,4,1,4,False

In [80]:
todays_date = datetime.utcnow().date()
last_year_limit = todays_date - timedelta(days=365)
last_year_limit

datetime.date(2021, 9, 26)

In [81]:
for i in range(len(data)):
    if (data_df["order_date"][i] < last_year_limit):
        data_df.drop(i,inplace=True)

In [82]:
data_df = data_df.reset_index(drop=True)

In [86]:
months = {1:0,2:0,3:0,4:0,5:0,6:0,7:0,8:0,9:0,10:0,11:0,12:0}

for i in range(len(data_df)):
    monthKey = int(data_df["month_of_the_year_num"][i])
    months[monthKey] = months[data_df["month_of_the_year_num"][i]] + 1

In [91]:
 mnths = {
            "tt_order_hol_jan":[months[1]],
            "tt_order_hol_feb":[months[2]],
            "tt_order_hol_mar":[months[3]],
            "tt_order_hol_apr":[months[4]],
            "tt_order_hol_may":[months[5]],
            "tt_order_hol_jun":[months[6]],
            "tt_order_hol_jul":[months[7]],
            "tt_order_hol_aug":[months[8]],
            "tt_order_hol_sep":[months[9]],
            "tt_order_hol_oct":[months[10]],
            "tt_order_hol_nov":[months[11]],
            "tt_order_hol_dec":[months[12]]
            }
mnths

{'tt_order_hol_jan': [0],
 'tt_order_hol_feb': [17],
 'tt_order_hol_mar': [13],
 'tt_order_hol_apr': [12],
 'tt_order_hol_may': [0],
 'tt_order_hol_jun': [0],
 'tt_order_hol_jul': [13],
 'tt_order_hol_aug': [17],
 'tt_order_hol_sep': [0],
 'tt_order_hol_oct': [16],
 'tt_order_hol_nov': [12],
 'tt_order_hol_dec': [0]}

In [92]:
df_dict = pd.DataFrame.from_dict(mnths)

In [93]:
df_dict

,tt_order_hol_jan,tt_order_hol_feb,tt_order_hol_mar,tt_order_hol_apr,tt_order_hol_may,tt_order_hol_jun,tt_order_hol_jul,tt_order_hol_aug,tt_order_hol_sep,tt_order_hol_oct,tt_order_hol_nov,tt_order_hol_dec
0,0,17,13,12,0,0,13,17,0,16,12,0

In [119]:
# Connect to database
db = database()
db_conn = db.conn()
db_cursor = db.create_cursor(db_conn)
staging = os.getenv("STAGING")
analytics = os.getenv("ANALYTICS")

# Fetch Data
task2_data = db.fetch_data(db_cursor,"*",f"{staging}.orders",secondary_tablename=f"{staging}.shipment_deliveries",all=True,join=True,join_condition=f"{staging}.shipment_deliveries.order_id = {staging}.orders.order_id",filtered=True,filter=f"{staging}.shipment_deliveries.delivery_date = '-' AND {staging}.shipment_deliveries.shipment_date != '-'")

In [120]:
data_columns = ["oid"] + list(orders_df.columns) + ["sid","shipment_id","order_id","shipment_date","delivery_date"]
data_columns

['oid',
 'order_id',
 'customer_id',
 'order_date',
 'product_id',
 'unit_price',
 'quantity',
 'total_price',
 'sid',
 'shipment_id',
 'order_id',
 'shipment_date',
 'delivery_date']

In [121]:
task2_data_df = pd.DataFrame(task2_data,columns=data_columns)
task2_data_df

,oid,order_id,customer_id,order_date,product_id,unit_price,quantity,total_price,sid,shipment_id,order_id,shipment_date,delivery_date
0,1,1,5,2022-07-13,24,139,10,1390,1,1,1,2022-07-14,-
1,21,21,3,2021-04-23,25,206,3,618,21,21,21,2021-04-27,-
2,24,24,22,2022-07-04,24,818,5,4090,24,24,24,2022-07-10,-
3,52,52,16,2021-06-11,17,108,9,972,52,52,52,2021-06-17,-
4,65,65,20,2021-07-28,7,753,5,3765,65,65,65,2021-08-02,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1041,9978,9975,25,2022-04-22,13,326,4,1304,9975,9975,9975,2022-04-27,-
1042,9982,9979,5,2021-02-15,17,439,1,439,9979,9979,9979,2021-02-17,-
1043,9983,9980,25,2022-02-02,21,287,5,1435,9980,9980,9980,2022-02-03,-
1044,9988,9985,11,2022-01-04,5,788,2,1576,9985,9985,9985,2022-01-05,-
1045,9994,9991,9,2022-01-04,2,872,4,3488,9991,9991,9991,2022-01-08,-

In [125]:
late_shipment_counter = 0
for i in range(len(task2_data_df)):
    order_date = task2_data_df["order_date"][i]
    shipment_date_str = task2_data_df["shipment_date"][i]
    shipment_date = datetime.strptime(shipment_date_str,"%Y-%m-%d").date()
    diff = shipment_date - order_date
    if diff >= timedelta(days=6):
        late_shipment_counter += 1
late_shipment_counter

175

In [126]:
# Connect to database
db = database()
db_conn = db.conn()
db_cursor = db.create_cursor(db_conn)
staging = os.getenv("STAGING")
analytics = os.getenv("ANALYTICS")

# Fetch Data
task3_data = db.fetch_data(db_cursor,"*",f"{staging}.orders",secondary_tablename=f"{staging}.shipment_deliveries",all=True,join=True,join_condition=f"{staging}.shipment_deliveries.order_id = {staging}.orders.order_id",filtered=True,filter=f"{staging}.shipment_deliveries.delivery_date = '-' AND {staging}.shipment_deliveries.shipment_date = '-'")

In [127]:
data_columns = ["oid"] + list(orders_df.columns) + ["sid","shipment_id","order_id","shipment_date","delivery_date"]
data_columns

['oid',
 'order_id',
 'customer_id',
 'order_date',
 'product_id',
 'unit_price',
 'quantity',
 'total_price',
 'sid',
 'shipment_id',
 'order_id',
 'shipment_date',
 'delivery_date']

In [128]:
task3_data_df = pd.DataFrame(task3_data,columns=data_columns)
task3_data_df

,oid,order_id,customer_id,order_date,product_id,unit_price,quantity,total_price,sid,shipment_id,order_id,shipment_date,delivery_date
0,2,2,14,2021-04-06,2,273,4,1092,2,2,2,-,-
1,7,7,4,2021-09-28,12,876,1,876,7,7,7,-,-
2,9,9,3,2022-01-06,18,641,4,2564,9,9,9,-,-
3,10,10,23,2021-08-22,3,841,5,4205,10,10,10,-,-
4,11,11,3,2022-01-25,8,334,8,2672,11,11,11,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6752,9997,9994,20,2022-01-08,5,915,3,2745,9994,9994,9994,-,-
6753,9998,9995,7,2022-06-03,9,553,1,553,9995,9995,9995,-,-
6754,9999,9996,25,2022-07-30,12,863,4,3452,9996,9996,9996,-,-
6755,10001,9998,17,2022-07-23,12,114,9,1026,9998,9998,9998,-,-
6756,10003,10000,21,2021-10-09,4,300,4,1200,10000,10000,10000,-,-

In [129]:
undelivered_shipment_counter = 0
for i in range(len(task2_data_df)):
    order_date = task2_data_df["order_date"][i]
    todays_date = datetime.utcnow().date()
    diff = todays_date - order_date
    if diff >= timedelta(days=15):
        undelivered_shipment_counter += 1
undelivered_shipment_counter

1046

In [31]:
# Connect to database
db = database()
db_conn = db.conn()
db_cursor = db.create_cursor(db_conn)
staging = os.getenv("STAGING")
analytics = os.getenv("ANALYTICS")

# Fetch review data
review_data = db.fetch_data(db_cursor,"*",f"{staging}.reviews")

In [32]:
review_count_dict = {}
review_points_sum = {}
review_points_distribution = {}

for review in review_data:
    if f"id_{review[2]}" in review_count_dict.keys():
        review_count_dict[f"id_{review[2]}"] = review_count_dict[f"id_{review[2]}"] + 1
    else:
        review_count_dict[f"id_{review[2]}"] = 1

    if f"id_{review[2]}" in review_points_sum.keys():
        review_points_sum[f"id_{review[2]}"] = review_points_sum[f"id_{review[2]}"] + review[1]
    else:
        review_points_sum[f"id_{review[2]}"] = review[1]

    if f"id_{review[2]}_{review[1]}" in review_points_distribution.keys():
        review_points_distribution[f"id_{review[2]}_{review[1]}"] = review_points_distribution[f"id_{review[2]}_{review[1]}"] + 1
    else:
        review_points_distribution[f"id_{review[2]}_{review[1]}"] = 1

# Highest Reviewed Product
import math
index = list(review_count_dict.values()).index(max(list(review_count_dict.values())))
highest_reviewed = list(review_count_dict.keys())[index]
highest_reviewed_id = highest_reviewed.split("_")[-1]
review_sum = review_points_sum[highest_reviewed]
pct_one_star = (review_points_distribution[f"{highest_reviewed}_1"]/review_count_dict[highest_reviewed])*100
pct_two_star = (review_points_distribution[f"{highest_reviewed}_2"]/review_count_dict[highest_reviewed])*100
pct_three_star = (review_points_distribution[f"{highest_reviewed}_3"]/review_count_dict[highest_reviewed])*100
pct_four_star = (review_points_distribution[f"{highest_reviewed}_4"]/review_count_dict[highest_reviewed])*100
pct_five_star = (review_points_distribution[f"{highest_reviewed}_5"]/review_count_dict[highest_reviewed])*100
product_data = db.fetch_data(db_cursor,"product_name","if_common.dim_products",filtered=True,filter=f"product_id = {highest_reviewed_id}",all=False,one=True)
product_name = product_data[0]

In [33]:
# Fetch order data for best performing product
order_data = db.fetch_data(db_cursor,"*",f"{staging}.orders",filtered=True,filter=f"product_id = {highest_reviewed_id}")

# Find date of highest data
highest_order_date = datetime.strptime("0001-01-01","%Y-%m-%d").date()
highest_order = 0
for order in order_data:
    if (order[6] >= highest_order) and (order[3] >= highest_order_date):
        highest_order_date = order[3]
        highest_order = order[6]

In [34]:
# Check date is public holiday or not with dim_dates
calender_data = db.fetch_data(db_cursor,"day_of_the_week_num,working_day","if_common.dim_dates",filtered=True,filter=f"calendar_dt = '{highest_order_date}'")
day_of_the_week,working_day = calender_data[0]

if (day_of_the_week in range(1,6)):
    if (working_day == True):
        is_public_holiday = False
    else:
        is_public_holiday = True

In [35]:
# Early and late shipments
shipments_data = db.fetch_data(
    db_cursor,
    "*",
    f"{staging}.orders",
    secondary_tablename=f"{staging}.shipment_deliveries",
    all=True,
    join=True,
    join_condition=f"{staging}.shipment_deliveries.order_id = {staging}.orders.order_id",
    filtered=True,
    filter=f"{staging}.shipment_deliveries.shipment_date != '-' AND {staging}.orders.product_id = {highest_reviewed_id}")

data_columns = ["oid"] + list(orders_df.columns) + ["sid","shipment_id","order_id","shipment_date","delivery_date"]

shipments_data_df = pd.DataFrame(shipments_data,columns=data_columns)

In [36]:
total_shipments = len(shipments_data)
early_shipment_count = 0
late_shipment_count = 0

for i in range(total_shipments):
    order_date = shipments_data_df["order_date"][i]
    shipment_date_str = shipments_data_df["shipment_date"][i]
    shipment_date = datetime.strptime(shipment_date_str,"%Y-%m-%d").date()
    diff = shipment_date - order_date
    if diff >= timedelta(days=6):
        late_shipment_count += 1
    else:
        early_shipment_count += 1

pct_late_shipment = (late_shipment_count/total_shipments)*100
pct_early_shipment = (early_shipment_count/total_shipments)*100

In [37]:
print(highest_reviewed_id)
print(product_name)
print(review_sum)
print(pct_one_star)
print(pct_two_star)
print(pct_three_star)
print(pct_four_star)
print(pct_five_star)
print(highest_order_date)
print(is_public_holiday)
print(pct_early_shipment)
print(pct_late_shipment)

23
Screwdriver
940
18.670886075949365
23.417721518987342
18.670886075949365
20.253164556962027
18.9873417721519
2022-08-18
False
81.88976377952756
18.11023622047244

In [13]:
order_data

[(96, 96, 7, datetime.date(2022, 5, 22), 23, 459, 4, 1836),
 (125, 125, 13, datetime.date(2021, 3, 19), 23, 656, 4, 2624),
 (126, 126, 4, datetime.date(2021, 5, 4), 23, 865, 10, 8650),
 (144, 144, 25, datetime.date(2021, 7, 16), 23, 271, 8, 2168),
 (160, 160, 10, datetime.date(2022, 4, 10), 23, 122, 4, 488),
 (179, 179, 8, datetime.date(2021, 11, 15), 23, 614, 1, 614),
 (182, 182, 17, datetime.date(2022, 3, 2), 23, 904, 8, 7232),
 (197, 197, 21, datetime.date(2022, 7, 9), 23, 86, 10, 860),
 (273, 273, 18, datetime.date(2022, 5, 28), 23, 622, 6, 3732),
 (302, 302, 22, datetime.date(2021, 4, 6), 23, 711, 7, 4977),
 (341, 341, 16, datetime.date(2022, 1, 12), 23, 996, 9, 8964),
 (359, 359, 23, datetime.date(2022, 1, 6), 23, 570, 4, 2280),
 (400, 400, 24, datetime.date(2022, 9, 4), 23, 535, 5, 2675),
 (420, 420, 11, datetime.date(2021, 4, 13), 23, 747, 3, 2241),
 (442, 442, 17, datetime.date(2021, 3, 21), 23, 989, 10, 9890),
 (450, 450, 12, datetime.date(2022, 7, 9), 23, 111, 2, 222),
 (461, 461, 22, datetime.date(2021, 9, 8), 23, 808, 1, 808),
 (492, 492, 3, datetime.date(2021, 1, 10), 23, 273, 9, 2457),
 (496, 496, 17, datetime.date(2021, 7, 3), 23, 159, 2, 318),
 (507, 507, 25, datetime.date(2021, 3, 20), 23, 356, 3, 1068),
 (550, 550, 24, datetime.date(2021, 11, 23), 23, 118, 5, 590),
 (551, 551, 2, datetime.date(2021, 1, 24), 23, 919, 6, 5514),
 (563, 563, 12, datetime.date(2022, 6, 8), 23, 447, 7, 3129),
 (598, 598, 24, datetime.date(2022, 3, 16), 23, 721, 2, 1442),
 (623, 623, 10, datetime.date(2021, 9, 2), 23, 109, 4, 436),
 (731, 731, 11, datetime.date(2021, 2, 20), 23, 813, 8, 6504),
 (744, 744, 24, datetime.date(2021, 10, 19), 23, 78, 7, 546),
 (749, 749, 10, datetime.date(2022, 3, 10), 23, 966, 7, 6762),
 (788, 788, 16, datetime.date(2021, 7, 30), 23, 761, 1, 761),
 (790, 790, 20, datetime.date(2022, 3, 5), 23, 900, 2, 1800),
 (804, 804, 13, datetime.date(2022, 3, 8), 23, 714, 3, 2142),
 (837, 837, 11, datetime.date(2021, 8, 11), 23, 255, 4, 1020),
 (838, 838, 20, datetime.date(2021, 12, 20), 23, 993, 3, 2979),
 (907, 907, 4, datetime.date(2021, 10, 8), 23, 904, 5, 4520),
 (930, 930, 2, datetime.date(2022, 3, 16), 23, 284, 8, 2272),
 (986, 986, 4, datetime.date(2021, 3, 3), 23, 270, 5, 1350),
 (1015, 1015, 6, datetime.date(2022, 1, 23), 23, 275, 5, 1375),
 (1022, 1022, 5, datetime.date(2021, 1, 9), 23, 288, 2, 576),
 (1040, 1040, 1, datetime.date(2022, 1, 2), 23, 791, 3, 2373),
 (1042, 1042, 18, datetime.date(2021, 7, 14), 23, 630, 3, 1890),
 (1107, 1107, 18, datetime.date(2021, 2, 10), 23, 303, 9, 2727),
 (1200, 1200, 7, datetime.date(2021, 3, 22), 23, 994, 8, 7952),
 (1211, 1211, 7, datetime.date(2022, 3, 18), 23, 853, 7, 5971),
 (1213, 1213, 24, datetime.date(2022, 5, 14), 23, 167, 10, 1670),
 (1221, 1221, 14, datetime.date(2021, 4, 2), 23, 646, 1, 646),
 (1231, 1231, 15, datetime.date(2021, 7, 4), 23, 515, 9, 4635),
 (1278, 1278, 17, datetime.date(2022, 5, 5), 23, 496, 7, 3472),
 (1280, 1280, 13, datetime.date(2021, 5, 5), 23, 630, 9, 5670),
 (1304, 1304, 3, datetime.date(2021, 10, 18), 23, 476, 8, 3808),
 (1336, 1336, 6, datetime.date(2022, 8, 8), 23, 815, 10, 8150),
 (1339, 1339, 13, datetime.date(2022, 6, 28), 23, 83, 5, 415),
 (1362, 1362, 6, datetime.date(2021, 6, 15), 23, 293, 2, 586),
 (1432, 1432, 13, datetime.date(2021, 4, 15), 23, 809, 3, 2427),
 (1471, 1471, 21, datetime.date(2021, 7, 11), 23, 640, 8, 5120),
 (1500, 1500, 11, datetime.date(2021, 4, 13), 23, 894, 3, 2682),
 (1511, 1511, 9, datetime.date(2021, 2, 20), 23, 460, 10, 4600),
 (1570, 1570, 15, datetime.date(2022, 5, 14), 23, 360, 10, 3600),
 (1588, 1588, 20, datetime.date(2021, 5, 15), 23, 954, 5, 4770),
 (1589, 1589, 24, datetime.date(2022, 3, 3), 23, 903, 6, 5418),
 (1607, 1607, 12, datetime.date(2022, 1, 5), 23, 694, 4, 2776),
 (1636, 1636, 16, datetime.date(2021, 5, 13), 23, 771, 9, 6939),
 (1726, 1726, 23, datetime.date(2021, 12, 6), 23, 922, 10, 9220),
 (1740, 1740, 14, datetime.date(2021, 5, 2), 23, 197, 3, 591),
 (1762, 1762, 7, datetime.date(2022, 7, 11), 23, 984, 5, 4920),
 (1786, 1786, 17, datetime.date(2021, 10, 10), 23, 256, 1, 256),
 (1790, 1790, 12, datetime.date(2022, 2, 5), 23, 677, 3, 2031),
 (1805, 1805, 7, datetime.date(2022, 6, 30), 23, 271, 8, 2168),
 (1820, 1820, 21, datetime.date(2021, 5, 17), 23, 390, 3, 1170),
 (1831, 1831, 22, datetime.date(2022, 1, 26), 23, 583, 6, 3498),
 (1851, 1851, 21, datetime.date(2021, 3, 1), 23, 716, 7, 5012),
 (1856, 1856, 21, datetime.date(2022, 2, 12), 23, 773, 10, 7730),
 (1858, 1858, 9, datetime.date(2022, 5, 28), 23, 595, 7, 4165),
 (1864, 1864, 6, datetime.date(2021, 7, 22), 23, 548, 3, 1644),
 (1882, 1882, 22, datetime.date(2022, 1, 30), 23, 350, 10, 3500),
 (1883, 1883, 7, datetime.date(2022, 6, 17), 23, 947, 10, 9470),
 (1904, 1904, 5, datetime.date(2021, 8, 19), 23, 767, 1, 767),
 (1910, 1910, 2, datetime.date(2022, 4, 14), 23, 720, 3, 2160),
 (1922, 1922, 9, datetime.date(2022, 8, 31), 23, 235, 7, 1645),
 (1927, 1927, 18, datetime.date(2021, 8, 1), 23, 724, 2, 1448),
 (1934, 1934, 16, datetime.date(2022, 6, 20), 23, 982, 6, 5892),
 (2019, 2019, 19, datetime.date(2022, 6, 10), 23, 516, 9, 4644),
 (2021, 2021, 10, datetime.date(2022, 7, 20), 23, 171, 3, 513),
 (2062, 2062, 19, datetime.date(2022, 6, 24), 23, 641, 4, 2564),
 (2120, 2120, 10, datetime.date(2022, 3, 6), 23, 587, 4, 2348),
 (2156, 2156, 20, datetime.date(2021, 3, 22), 23, 635, 7, 4445),
 (2244, 2244, 10, datetime.date(2022, 6, 15), 23, 843, 10, 8430),
 (2252, 2252, 17, datetime.date(2021, 5, 6), 23, 493, 8, 3944),
 (2322, 2322, 18, datetime.date(2022, 8, 20), 23, 532, 5, 2660),
 (2342, 2342, 15, datetime.date(2022, 1, 11), 23, 848, 9, 7632),
 (2344, 2344, 11, datetime.date(2022, 5, 31), 23, 156, 1, 156),
 (2380, 2380, 17, datetime.date(2022, 8, 19), 23, 779, 6, 4674),
 (2399, 2399, 8, datetime.date(2021, 5, 2), 23, 394, 6, 2364),
 (2418, 2418, 23, datetime.date(2022, 4, 1), 23, 960, 7, 6720),
 (2429, 2429, 7, datetime.date(2021, 2, 9), 23, 478, 5, 2390),
 (2470, 2470, 9, datetime.date(2022, 7, 30), 23, 863, 8, 6904),
 (2595, 2595, 1, datetime.date(2021, 8, 15), 23, 115, 10, 1150),
 (2640, 2640, 10, datetime.date(2022, 8, 5), 23, 699, 5, 3495),
 (2641, 2641, 16, datetime.date(2021, 10, 29), 23, 208, 3, 624),
 (2684, 2684, 1, datetime.date(2021, 8, 2), 23, 727, 5, 3635),
 (2697, 2697, 23, datetime.date(2022, 1, 5), 23, 976, 8, 7808),
 (2733, 2733, 5, datetime.date(2021, 2, 9), 23, 112, 10, 1120),
 (2746, 2746, 22, datetime.date(2022, 5, 5), 23, 554, 10, 5540),
 (2813, 2813, 3, datetime.date(2022, 2, 19), 23, 922, 5, 4610),
 (2814, 2814, 5, datetime.date(2022, 6, 30), 23, 412, 7, 2884),
 (2818, 2818, 8, datetime.date(2021, 9, 9), 23, 946, 4, 3784),
 (2825, 2825, 11, datetime.date(2022, 7, 6), 23, 642, 3, 1926),
 (2842, 2842, 13, datetime.date(2021, 5, 22), 23, 917, 6, 5502),
 (2852, 2852, 15, datetime.date(2022, 6, 4), 23, 202, 8, 1616),
 (2860, 2860, 22, datetime.date(2021, 4, 12), 23, 918, 9, 8262),
 (2875, 2875, 7, datetime.date(2021, 10, 25), 23, 54, 4, 216),
 (2880, 2880, 14, datetime.date(2022, 3, 2), 23, 893, 7, 6251),
 (2935, 2935, 19, datetime.date(2022, 3, 28), 23, 648, 10, 6480),
 (2991, 2991, 11, datetime.date(2021, 11, 17), 23, 699, 8, 5592),
 (2994, 2994, 8, datetime.date(2021, 8, 31), 23, 882, 4, 3528),
 (3022, 3022, 21, datetime.date(2022, 5, 6), 23, 93, 1, 93),
 (3055, 3055, 8, datetime.date(2021, 1, 2), 23, 715, 1, 715),
 (3070, 3070, 22, datetime.date(2022, 5, 16), 23, 169, 6, 1014),
 (3075, 3075, 3, datetime.date(2021, 9, 5), 23, 823, 7, 5761),
 (3092, 3092, 9, datetime.date(2022, 2, 2), 23, 870, 9, 7830),
 (3102, 3102, 12, datetime.date(2021, 1, 22), 23, 775, 9, 6975),
 (3130, 3130, 3, datetime.date(2021, 12, 17), 23, 595, 9, 5355),
 (3165, 3165, 20, datetime.date(2021, 6, 22), 23, 856, 7, 5992),
 (3167, 3167, 8, datetime.date(2021, 8, 25), 23, 438, 10, 4380),
 (3169, 3169, 15, datetime.date(2022, 2, 3), 23, 635, 6, 3810),
 (3175, 3175, 3, datetime.date(2021, 4, 5), 23, 680, 9, 6120),
 (3193, 3193, 19, datetime.date(2021, 9, 15), 23, 586, 7, 4102),
 (3256, 3256, 10, datetime.date(2022, 4, 30), 23, 721, 1, 721),
 (3297, 3297, 24, datetime.date(2021, 8, 21), 23, 904, 8, 7232),
 (3332, 3332, 5, datetime.date(2021, 8, 25), 23, 305, 1, 305),
 (3361, 3361, 1, datetime.date(2021, 4, 16), 23, 628, 3, 1884),
 (3364, 3364, 15, datetime.date(2021, 8, 15), 23, 805, 4, 3220),
 (3383, 3383, 8, datetime.date(2021, 9, 30), 23, 780, 9, 7020),
 (3416, 3416, 18, datetime.date(2022, 4, 27), 23, 104, 7, 728),
 (3423, 3423, 13, datetime.date(2022, 6, 26), 23, 713, 2, 1426),
 (3425, 3425, 5, datetime.date(2021, 10, 30), 23, 793, 3, 2379),
 (3436, 3436, 18, datetime.date(2022, 6, 16), 23, 232, 5, 1160),
 (3438, 3438, 22, datetime.date(2021, 2, 8), 23, 346, 1, 346),
 (3452, 3452, 8, datetime.date(2021, 12, 8), 23, 533, 8, 4264),
 (3462, 3462, 2, datetime.date(2021, 5, 14), 23, 582, 9, 5238),
 (3560, 3560, 23, datetime.date(2022, 6, 4), 23, 348, 3, 1044),
 (3592, 3592, 17, datetime.date(2022, 8, 19), 23, 291, 5, 1455),
 (3623, 3623, 24, datetime.date(2022, 1, 13), 23, 344, 4, 1376),
 (3637, 3637, 6, datetime.date(2021, 5, 4), 23, 710, 8, 5680),
 (3672, 3672, 22, datetime.date(2022, 2, 24), 23, 527, 3, 1581),
 (3685, 3685, 7, datetime.date(2021, 12, 25), 23, 788, 7, 5516),
 (3711, 3711, 11, datetime.date(2022, 4, 20), 23, 136, 4, 544),
 (3729, 3729, 25, datetime.date(2022, 8, 11), 23, 53, 6, 318),
 (3739, 3739, 24, datetime.date(2022, 8, 29), 23, 659, 5, 3295),
 (3741, 3741, 3, datetime.date(2021, 6, 19), 23, 954, 7, 6678),
 (3764, 3764, 22, datetime.date(2022, 7, 26), 23, 279, 6, 1674),
 (3785, 3785, 7, datetime.date(2021, 10, 8), 23, 78, 10, 780),
 (3794, 3794, 13, datetime.date(2022, 3, 27), 23, 369, 9, 3321),
 (3816, 3816, 1, datetime.date(2021, 6, 14), 23, 926, 3, 2778),
 (3830, 3830, 12, datetime.date(2022, 1, 31), 23, 937, 9, 8433),
 (3843, 3843, 12, datetime.date(2022, 7, 10), 23, 112, 2, 224),
 (3859, 3859, 19, datetime.date(2022, 5, 6), 23, 157, 5, 785),
 (3867, 3867, 2, datetime.date(2022, 7, 25), 23, 996, 4, 3984),
 (3907, 3907, 2, datetime.date(2022, 1, 11), 23, 322, 3, 966),
 (3912, 3912, 8, datetime.date(2022, 2, 24), 23, 331, 1, 331),
 (3939, 3939, 8, datetime.date(2021, 11, 3), 23, 604, 9, 5436),
 (3975, 3975, 9, datetime.date(2021, 8, 12), 23, 728, 4, 2912),
 (3994, 3994, 1, datetime.date(2022, 4, 14), 23, 428, 6, 2568),
 (3996, 3996, 1, datetime.date(2021, 5, 10), 23, 51, 8, 408),
 (4007, 4007, 25, datetime.date(2021, 3, 10), 23, 610, 7, 4270),
 (4019, 4019, 5, datetime.date(2022, 5, 25), 23, 417, 3, 1251),
 (4068, 4068, 7, datetime.date(2022, 4, 9), 23, 630, 7, 4410),
 (4095, 4095, 16, datetime.date(2021, 12, 29), 23, 280, 3, 840),
 (4129, 4129, 25, datetime.date(2022, 2, 18), 23, 523, 9, 4707),
 (4201, 4201, 24, datetime.date(2022, 3, 15), 23, 852, 8, 6816),
 (4217, 4217, 19, datetime.date(2022, 1, 30), 23, 453, 9, 4077),
 (4218, 4218, 10, datetime.date(2022, 6, 4), 23, 792, 3, 2376),
 (4269, 4269, 25, datetime.date(2021, 4, 3), 23, 532, 10, 5320),
 (4272, 4272, 17, datetime.date(2021, 4, 24), 23, 803, 9, 7227),
 (4281, 4281, 18, datetime.date(2021, 6, 17), 23, 892, 8, 7136),
 (4296, 4296, 17, datetime.date(2021, 12, 27), 23, 657, 7, 4599),
 (4356, 4356, 5, datetime.date(2021, 4, 14), 23, 465, 2, 930),
 (4411, 4411, 2, datetime.date(2021, 12, 2), 23, 896, 9, 8064),
 (4429, 4429, 20, datetime.date(2021, 11, 28), 23, 699, 4, 2796),
 (4455, 4455, 2, datetime.date(2022, 8, 29), 23, 908, 5, 4540),
 (4458, 4458, 16, datetime.date(2021, 4, 12), 23, 699, 3, 2097),
 (4495, 4495, 25, datetime.date(2022, 7, 3), 23, 956, 7, 6692),
 (4533, 4533, 5, datetime.date(2021, 4, 4), 23, 755, 9, 6795),
 (4581, 4581, 4, datetime.date(2021, 2, 22), 23, 368, 10, 3680),
 (4591, 4591, 22, datetime.date(2022, 6, 4), 23, 314, 2, 628),
 (4599, 4599, 18, datetime.date(2021, 4, 24), 23, 847, 10, 8470),
 (4611, 4611, 20, datetime.date(2021, 9, 9), 23, 641, 6, 3846),
 (4623, 4623, 13, datetime.date(2022, 2, 18), 23, 780, 4, 3120),
 (4724, 4724, 6, datetime.date(2021, 3, 6), 23, 412, 4, 1648),
 (4751, 4751, 20, datetime.date(2022, 2, 8), 23, 224, 8, 1792),
 (4755, 4755, 1, datetime.date(2021, 3, 18), 23, 101, 2, 202),
 (4759, 4759, 1, datetime.date(2022, 3, 6), 23, 71, 9, 639),
 (4772, 4772, 14, datetime.date(2021, 9, 15), 23, 668, 5, 3340),
 (4806, 4806, 16, datetime.date(2022, 7, 16), 23, 188, 3, 564),
 (4822, 4822, 14, datetime.date(2021, 7, 28), 23, 841, 4, 3364),
 (4867, 4867, 12, datetime.date(2022, 4, 8), 23, 560, 4, 2240),
 (4927, 4927, 20, datetime.date(2021, 6, 3), 23, 232, 2, 464),
 (4933, 4933, 10, datetime.date(2021, 7, 31), 23, 937, 4, 3748),
 (4998, 4998, 23, datetime.date(2021, 8, 6), 23, 855, 3, 2565),
 (5003, 5003, 20, datetime.date(2021, 8, 18), 23, 788, 9, 7092),
 (5031, 5031, 18, datetime.date(2022, 9, 5), 23, 858, 2, 1716),
 (5034, 5034, 20, datetime.date(2021, 5, 27), 23, 893, 7, 6251),
 (5038, 5038, 19, datetime.date(2021, 3, 18), 23, 726, 2, 1452),
 (5073, 5073, 2, datetime.date(2021, 2, 19), 23, 603, 10, 6030),
 (5094, 5094, 13, datetime.date(2021, 10, 11), 23, 158, 10, 1580),
 (5099, 5099, 7, datetime.date(2022, 1, 29), 23, 462, 3, 1386),
 (5130, 5130, 8, datetime.date(2021, 2, 15), 23, 480, 8, 3840),
 (5171, 5171, 13, datetime.date(2021, 4, 30), 23, 621, 4, 2484),
 (5244, 5244, 23, datetime.date(2021, 5, 11), 23, 830, 10, 8300),
 (5258, 5258, 16, datetime.date(2021, 1, 5), 23, 147, 5, 735),
 (5384, 5384, 6, datetime.date(2021, 12, 16), 23, 490, 2, 980),
 (5395, 5395, 14, datetime.date(2021, 12, 15), 23, 109, 6, 654),
 (5410, 5410, 8, datetime.date(2021, 8, 1), 23, 196, 5, 980),
 (5417, 5417, 6, datetime.date(2022, 2, 7), 23, 349, 3, 1047),
 (5455, 5455, 17, datetime.date(2022, 7, 8), 23, 948, 1, 948),
 (5467, 5467, 16, datetime.date(2022, 3, 23), 23, 145, 2, 290),
 (5489, 5489, 18, datetime.date(2022, 5, 11), 23, 862, 8, 6896),
 (5523, 5523, 2, datetime.date(2021, 1, 22), 23, 609, 7, 4263),
 (5528, 5528, 21, datetime.date(2021, 8, 29), 23, 377, 7, 2639),
 (5534, 5534, 11, datetime.date(2021, 3, 8), 23, 393, 9, 3537),
 (5555, 5555, 23, datetime.date(2022, 4, 4), 23, 709, 7, 4963),
 (5563, 5563, 3, datetime.date(2021, 5, 8), 23, 841, 8, 6728),
 (5570, 5570, 20, datetime.date(2022, 6, 20), 23, 507, 9, 4563),
 (5582, 5582, 1, datetime.date(2022, 5, 22), 23, 955, 2, 1910),
 (5596, 5596, 20, datetime.date(2022, 7, 3), 23, 82, 6, 492),
 (5606, 5606, 23, datetime.date(2021, 11, 4), 23, 401, 1, 401),
 (5616, 5616, 18, datetime.date(2021, 12, 23), 23, 349, 6, 2094),
 (5633, 5633, 22, datetime.date(2022, 3, 28), 23, 283, 2, 566),
 (5679, 5679, 23, datetime.date(2021, 2, 21), 23, 535, 1, 535),
 (5706, 5706, 25, datetime.date(2021, 4, 27), 23, 727, 3, 2181),
 (5726, 5726, 17, datetime.date(2022, 8, 18), 23, 958, 10, 9580),
 (5742, 5742, 4, datetime.date(2022, 2, 9), 23, 288, 10, 2880),
 (5748, 5748, 14, datetime.date(2022, 1, 7), 23, 953, 10, 9530),
 (5773, 5773, 13, datetime.date(2022, 3, 20), 23, 647, 7, 4529),
 (5832, 5832, 11, datetime.date(2022, 6, 6), 23, 678, 9, 6102),
 (5852, 5852, 20, datetime.date(2022, 5, 29), 23, 631, 10, 6310),
 (5863, 5863, 19, datetime.date(2022, 5, 24), 23, 482, 5, 2410),
 (5889, 5889, 4, datetime.date(2022, 8, 12), 23, 524, 4, 2096),
 (5899, 5899, 24, datetime.date(2021, 9, 1), 23, 817, 5, 4085),
 (5904, 5904, 4, datetime.date(2022, 1, 25), 23, 756, 10, 7560),
 (5925, 5925, 13, datetime.date(2021, 7, 29), 23, 86, 2, 172),
 (5955, 5955, 22, datetime.date(2021, 6, 12), 23, 995, 9, 8955),
 (6021, 6021, 17, datetime.date(2022, 5, 27), 23, 340, 6, 2040),
 (6027, 6027, 14, datetime.date(2021, 7, 2), 23, 591, 6, 3546),
 (6054, 6054, 25, datetime.date(2021, 12, 17), 23, 137, 4, 548),
 (6057, 6057, 4, datetime.date(2021, 8, 10), 23, 505, 7, 3535),
 (6114, 6114, 19, datetime.date(2022, 5, 4), 23, 473, 2, 946),
 (6170, 6170, 18, datetime.date(2022, 3, 13), 23, 100, 2, 200),
 (6178, 6178, 8, datetime.date(2022, 8, 2), 23, 510, 1, 510),
 (6184, 6184, 10, datetime.date(2021, 11, 14), 23, 986, 3, 2958),
 (6242, 6242, 24, datetime.date(2021, 9, 18), 23, 830, 2, 1660),
 (6243, 6243, 20, datetime.date(2021, 4, 23), 23, 391, 8, 3128),
 (6326, 6326, 23, datetime.date(2021, 6, 10), 23, 372, 2, 744),
 (6370, 6370, 9, datetime.date(2021, 9, 5), 23, 330, 10, 3300),
 (6374, 6374, 4, datetime.date(2022, 2, 2), 23, 189, 6, 1134),
 (6380, 6380, 16, datetime.date(2022, 7, 8), 23, 454, 7, 3178),
 (6417, 6417, 1, datetime.date(2022, 2, 4), 23, 291, 8, 2328),
 (6436, 6436, 8, datetime.date(2021, 12, 28), 23, 830, 5, 4150),
 (6443, 6443, 22, datetime.date(2021, 1, 19), 23, 422, 2, 844),
 (6446, 6446, 7, datetime.date(2021, 1, 14), 23, 264, 7, 1848),
 (6516, 6516, 7, datetime.date(2021, 11, 26), 23, 339, 1, 339),
 (6597, 6597, 22, datetime.date(2021, 8, 24), 23, 938, 10, 9380),
 (6620, 6620, 24, datetime.date(2021, 10, 9), 23, 759, 9, 6831),
 (6654, 6654, 11, datetime.date(2021, 12, 22), 23, 687, 9, 6183),
 (6662, 6662, 6, datetime.date(2021, 10, 21), 23, 509, 1, 509),
 (6742, 6742, 10, datetime.date(2022, 5, 11), 23, 137, 1, 137),
 (6750, 6750, 12, datetime.date(2021, 6, 5), 23, 281, 2, 562),
 (6758, 6758, 7, datetime.date(2021, 3, 2), 23, 79, 8, 632),
 (6767, 6767, 18, datetime.date(2022, 1, 18), 23, 613, 6, 3678),
 (6772, 6772, 18, datetime.date(2021, 7, 20), 23, 455, 10, 4550),
 (6805, 6805, 11, datetime.date(2021, 11, 9), 23, 880, 3, 2640),
 (6817, 6817, 22, datetime.date(2021, 12, 12), 23, 509, 7, 3563),
 (6844, 6844, 25, datetime.date(2021, 1, 15), 23, 243, 8, 1944),
 (6924, 6924, 7, datetime.date(2022, 7, 7), 23, 501, 9, 4509),
 (6946, 6946, 14, datetime.date(2021, 3, 13), 23, 703, 10, 7030),
 (6970, 6970, 3, datetime.date(2022, 3, 1), 23, 857, 3, 2571),
 (7022, 7022, 9, datetime.date(2022, 4, 22), 23, 946, 8, 7568),
 (7145, 7142, 9, datetime.date(2022, 3, 19), 23, 813, 1, 813),
 (7192, 7189, 25, datetime.date(2022, 6, 14), 23, 179, 1, 179),
 (7221, 7218, 19, datetime.date(2022, 4, 18), 23, 967, 5, 4835),
 (7229, 7226, 4, datetime.date(2021, 10, 10), 23, 155, 8, 1240),
 (7263, 7260, 20, datetime.date(2021, 9, 13), 23, 144, 6, 864),
 (7285, 7282, 15, datetime.date(2022, 1, 13), 23, 190, 1, 190),
 (7327, 7324, 11, datetime.date(2022, 7, 12), 23, 566, 1, 566),
 (7331, 7328, 16, datetime.date(2021, 11, 6), 23, 248, 8, 1984),
 (7346, 7343, 12, datetime.date(2021, 12, 30), 23, 897, 3, 2691),
 (7396, 7393, 3, datetime.date(2022, 5, 22), 23, 410, 1, 410),
 (7417, 7414, 20, datetime.date(2021, 5, 28), 23, 729, 4, 2916),
 (7441, 7438, 6, datetime.date(2021, 4, 21), 23, 511, 5, 2555),
 (7488, 7485, 22, datetime.date(2021, 4, 23), 23, 992, 2, 1984),
 (7508, 7505, 3, datetime.date(2021, 1, 25), 23, 607, 2, 1214),
 (7594, 7591, 16, datetime.date(2021, 4, 1), 23, 649, 8, 5192),
 (7627, 7624, 18, datetime.date(2021, 2, 8), 23, 538, 5, 2690),
 (7629, 7626, 17, datetime.date(2022, 3, 29), 23, 848, 7, 5936),
 (7666, 7663, 22, datetime.date(2022, 2, 15), 23, 199, 2, 398),
 (7670, 7667, 22, datetime.date(2022, 8, 1), 23, 573, 6, 3438),
 (7688, 7685, 5, datetime.date(2021, 7, 5), 23, 398, 7, 2786),
 (7691, 7688, 2, datetime.date(2021, 2, 1), 23, 257, 5, 1285),
 (7712, 7709, 22, datetime.date(2021, 10, 24), 23, 785, 5, 3925),
 (7715, 7712, 21, datetime.date(2022, 2, 4), 23, 57, 5, 285),
 (7746, 7743, 2, datetime.date(2022, 8, 21), 23, 163, 7, 1141),
 (7748, 7745, 14, datetime.date(2022, 8, 30), 23, 250, 7, 1750),
 (7771, 7768, 23, datetime.date(2021, 5, 13), 23, 824, 8, 6592),
 (7783, 7780, 7, datetime.date(2021, 3, 13), 23, 901, 3, 2703),
 (7790, 7787, 1, datetime.date(2021, 9, 15), 23, 244, 7, 1708),
 (7795, 7792, 13, datetime.date(2021, 9, 2), 23, 376, 3, 1128),
 (7810, 7807, 12, datetime.date(2022, 1, 5), 23, 985, 10, 9850),
 (7830, 7827, 10, datetime.date(2021, 8, 16), 23, 491, 1, 491),
 (7846, 7843, 20, datetime.date(2022, 3, 4), 23, 869, 2, 1738),
 (7913, 7910, 16, datetime.date(2022, 4, 21), 23, 499, 7, 3493),
 (7922, 7919, 21, datetime.date(2022, 6, 29), 23, 324, 9, 2916),
 (7926, 7923, 6, datetime.date(2021, 1, 31), 23, 965, 10, 9650),
 (7928, 7925, 7, datetime.date(2021, 11, 12), 23, 834, 7, 5838),

In [97]:
db.close(db_conn)